<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Delete Data</h1>
    <a href="/">Home Page</a>
    <a href="/save">Save Data</a>
    <a href="/update">Update Data</a>
    <a href="/read">Read Data</a>
    <a href="/delete">Delete Data</a>
    <div class="container">
        <form id="RemoveData">
            <input type="text", id="username", autocomplete = "off", placeholder="username"/>
            <br>
            <input type="submit" value="Delete"/>
            <br>
        </form>
    </div>
    <script>
        const form = document.getElementById("RemoveData")
        form.addEventListener('submit', deleteData)

        async function deleteData(event) {
            event.preventDefault()
            const username = document.getElementById('username').value
            const result = await fetch('/delete', {
                method: 'POST',
                headers: {
                    'Content-Type':'application/json'
                },
                body:JSON.stringify({
                    username
                })
            }).then((res) => res.json())

            if(result.status === 'ok'){
                alert('Data Deleted')
            }
            else{
                alert(result.error);
            }
        }
    </script>
</body>
</html>