<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1> welcome</h1>
    <a href="/">Home Page</a>
    <br>
    <a href="/save">Save Data</a>
    <br>
    <a href="/update">Update Data</a>
    <br>
    <a href="/read">Read Data</a>
    <br>
    <a href="/delete">Delete Data</a>
    <br>
</body>
</html>