<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Read Data</h1>
    <a href="/">Home Page</a>
    <a href="/save">Save Data</a>
    <a href="/update">Update Data</a>
    <a href="/read">Read Data</a>
    <a href="/delete">Delete Data</a>
    <div class="container">
        <form id="SaveData">
            <input type="text", id="username", autocomplete = "off", placeholder="username"/>
            <br>
            <input type="submit" value="Read"/>
            <br>

        </form>
    </div>
    <p id="userdata"></p>
    <script>
        const form = document.getElementById("SaveData")
        form.addEventListener('submit', readdata)

        async function readdata(event) {
            event.preventDefault()
            const username = document.getElementById('username').value
            const result = await fetch('/read', {
                method: 'POST',
                headers: {
                    'Content-Type':'application/json'
                },
                body:JSON.stringify({
                    username
                })
            }).then((res) => res.json())

            if(result.status === 'ok'){
                alert('Data is in Database!')
                console.log(result.data)
                document.getElementById("userdata").innerHTML = `id: ${result.data._id},<br> User Name: ${result.data.username},<br> Password: ${result.data.password},<br> Email: ${result.data.email},<br> Website: ${result.data.website}`
            }
            else{
                alert(result.error);
            }
        }
    </script>
</body>
</html>