<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    
</head>
<body>
    <h1>Read Data</h1>
    <a href="/">Home Page</a>
    <a href="/save">Save Data</a>
    <a href="/update">Update Data</a>
    <a href="/read">Read Data</a>
    <a href="/delete">Delete Data</a>
    <div class="container">
        <form id="FindData">
            <h2>Enter username</h2>
            <input type="text", id="username", autocomplete = "off", placeholder="username"/>
            <br>
            <h2>Enter password to update</h2>
            <input type="password", id="password", placeholder="password"/>
            <br>
            <input type="submit" value="Update"/>
            <br>

        </form>
    </div>

    <script>
    
        const form1 = document.getElementById("FindData")
        form1.addEventListener('submit', readdata)


        async function readdata(event) {
            event.preventDefault()
            const username = document.getElementById('username').value
            const password = document.getElementById('password').value
            // console.log(username, password)
            const result = await fetch('/update', {
                method: 'POST',
                headers: {
                    'Content-Type':'application/json'
                },
                body:JSON.stringify({
                    username,
                    password
                })
            }).then((res) => res.json())

            if(result.status === 'ok'){
                alert('Data is updated!')
            }
            else{
                alert(result.error);
            }
        }
    </script>
      
    </body>
    </html>
</body>
</html>